@model DepartmentModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{

}
@section content_header {
    <section class="content-header">
        <h1>
            编辑部门
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="DepartmentList">部门列表</a></li>
            <li><a href="GroupList">小组列表</a></li>
            <li><a href="EmployeeList">员工列表</a></li>
        </ol>
    </section>
}
<div class="row">
    <div class="col-md-12">
        <div class="box" data-vivaldi-spatnav-clickable="1">
            <div class="box-header">
                <h3 class="box-title">部门基本信息</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <div class="row">
                        @Html.EditorFor(m => m.Id, "FormEditor", new { displayName = "部门Id", @disabled = true })
                        @Html.EditorFor(m => m.AggregateId, "FormEditor", new { displayName = "聚合Id", @disabled = true })
                    </div>
                    <div class="row">
                        @Html.EditorFor(m => m.Name, "FormEditor", new { displayName = "名字", placeholder = "请输入名字" })
                        @Html.EditorFor(m => m.Descn, "FormEditor", new { displayName = "描述", placeholder = "请输入描述" })
                    </div>
                    <div class="row">
                        @Html.EditorFor(m => m.CreateDate, "FormDateTime", new { displayName = "创建时间", @disabled = true })
                        @Html.EditorFor(m => m.Creator, "FormEditor", new { displayName = "创建者", @disabled = true })
                    </div>
                    <div class="row">
                        @Html.EditorFor(m => m.EditDate, "FormDateTime", new { displayName = "编辑时间", @disabled = true })
                        @Html.EditorFor(m => m.Editor, "FormEditor", new { displayName = "创建者", @disabled = true })
                    </div>
                    <div class="box-footer">
                        @Html.HiddenFor(m => m.Version)
                        <button type="submit" class="btn bg-maroon margin">提交</button>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@section script {

} 